@import '../../../scss/constants.scss';

.cart-withdraw {
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    background-color: $bg-secondary;
    border-radius: 5px;
}

.thanks-for-order {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-sizing: border-box;
}