@import '../../scss/general-classes.scss';

.list-good {
    width: 190px;
    height: 200px;
    margin: 5px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 8px;
    background-color: $bg-primary;
}