@import '../../scss/constants.scss';

.App {
    min-width: 430px;
    font-size: 15px;
    font-weight: 500;
    font-family: $font;

    color: $color-primary;

    box-sizing: border-box;
}

.main {
    display: flex;
    flex-flow: row wrap;

    background-color: $bg-secondary;
}