@import '../../scss/constants.scss';

.account {
    width: 100%;
}

.account__wrapper {
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-flow: row nowrap;
}

.account__header {
    margin: 0;
}

.account__info {
    width: 15%;
    word-wrap: pre;
    padding: 5px;
}

.account__cart {
    width: 85%;
}

.account__info select {
    width: 80px;
    background-color: #fff;
    border-radius: 3px;
}

@media (max-width: 1000px){
    .account__info {
        width: 30%;
    }
    
    .account__cart {
        width: 70%;
    }
}

@media (max-width: 700px){
    .account__info {
        width: 100%;
    }
    
    .account__cart {
        width: 100%;
    }
    .account__wrapper {
        flex-flow: column wrap;
    }
}