@import '../../scss/constants.scss';

.account {
    width: 100%;
}

.account__wrapper {
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-flow: row nowrap;
}

.account__header {
    margin: 0;
}

.account__info {
    width: 15%;
    display: flex;
    flex-direction: column;
    word-wrap: pre;
    padding: 5px;
}

.account__cart {
    width: 85%;
}

.account__info select {
    width: 80px;
    background-color: #fff;
    border-radius: 3px;
}

.account__info .cart-withdraw {
    margin: 10px 0;
}

@media (max-width: 1000px){
    .account__info {
        width: 30%;
    }
    
    .account__cart {
        width: 70%;
    }
}

@media (max-width: 700px){
    .account__info {
        width: 100%;
        flex-direction: row;
    }
    .cart-withdraw {
        height: 70%;
        max-width: 200px;
        margin: 0 10px !important;
    }
    .account__cart {
        width: 100%;
    }
    .account__wrapper {
        flex-flow: column wrap;
    }
}