@import '../../scss/constants.scss';

.header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 3;
    background-color: $bg-primary;
}

.header__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: pre;
}

.logo__name {
    margin-left: 15px;
}

.header__navigation {
    display: flex;
    list-style: none;
}

.header__navigation a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;  
    text-transform: uppercase;
}

.header__navigation a:hover{
    transition: ease-in 300ms;
    color: $color-secondary;
}

a:link, a:visited {
    color: $color-primary;
    text-decoration: none;
}

.nav-account {
    width: 30px;
}

.nav-account:hover .nav-account__components {
    display: flex;
    flex-flow: column wrap,
}

.nav-account .nav-account__components {
    position: absolute;
    top: 52px;
    display: none;
    align-self: flex-end;
    list-style: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    background-color: $bg-primary;
    border: $border;
    border-radius: $br;
}

.nav-account__components::after,
.nav-account__components::before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    bottom: 100%;
    right: 14px;
}

.nav-account__components::before {
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: $border-color;
}

.nav-account__components::after {
    border-width: 5px;
    margin: 0 -5px;
    border-bottom-color: $bg-primary;
}

.nav-account__components a {
    display: inline;
    padding: 15px 30px;
    text-align: right;
    transition: 0.5s ease-in-out;
    white-space: nowrap;
}

.nav-account__components a:first-child {
    border-radius: $br $br 0 0;
}

.nav-account__components a:last-child {
    border-radius: 0 0 $br $br;
}

.nav-account__components a:hover {
    background-color: $bg-secondary;
}

.nav-account__components a i {
    margin-left: 5px;
}

@media screen and (max-width: 550px){
    .logo__name {
        display: none;
    }
}