@import '../../scss/general-classes.scss';
@import '../../scss/random-color.scss';

.list-good {
    width: 190px;
    height: 230px;
    margin: 5px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 8px;
    background-color: $bg-primary;
    animation-name: list-good;
    animation-duration: 0.6s;
    cursor: pointer;
}

.list-good__image {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 10px;
    border-radius: $br;
    @include random-color('background-color');
}

.list-good__image img {
    width: inherit;
    height: inherit;
    border-radius: $br;    
}

.list-good__name {
    max-width: 150px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.list-good__price {
    font-size: 1.1rem;
}

.list-good__description {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
}

.list-good__price.loading-row {
    width: 70px;
    height: 20px;
}

.list-good__image.loading-row div {
    height: 20px;
    min-width: 70px;
    margin: 5px;
}

.list-good .btn-delete {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 10;
}

@keyframes list-good {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
}