@import '../../scss/constants.scss';

.good__wrapper {
    height: 100vh;
    padding-top: 60px;

    display: flex;
    flex-flow: row, nowrap;;
    box-sizing: border-box;
    animation-name: good;
    animation-duration: 1.3s;
}

.good__image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__wrapper {
    height: 70vmin;
    width: 70vmin;
    border-radius: $br;
}

.good__info {
    width: 40%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.info__wrapper {
    height: 70vmin;
    white-space: pre;
}

.good__name,
.good__operation,
.good__discription {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.good__name {
    font-size: $fs-b;
}

.good__price {
    margin-right: 20px;
}

.good__operation {
    display: flex;
    flex-flow: row wrap;
}

.good__name.loading-row {
    height: 30px;
    width: 200px;
}

.good__discription.loading-row {
    height: 100px;
    width: 300px;
}

.good__operation.loading-row {
    height: 30px;
    width: 250px;
}

@keyframes good {
    0% {opacity: 0;}
}