$font: 'Baloo 2', 'Verdana', 'Arial', cursive;
$fs: calc(12px + 2vmin);
$fs-b: $fs + 16px;
$color-primary: #444;
$color-secondary: #000;
$bg-primary: #fff;
$bg-secondary: #f6f6f6;
$color-shadow: rgba(0, 64, 128, 0.2);
$br: 8px;
$border: 1px solid rgba(27, 31, 35, .15);
$border-color: rgba(27, 31, 35, .15);