@import "../../scss/constants.scss";

.info-container__wrapper{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    animation: info-container;
    animation-duration: 0.6s;
}

@keyframes info-container {
    0%{
        opacity: 0;
    }
}