@import '../../scss/constants.scss';

.auth {
    width: 100%;
}

.auth__wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

@media(max-width: 800px){
    .auth__wrapper {
        padding-top: 80px;
        flex-flow: column wrap;
    }

    .auth__wrapper .login,
    .auth__wrapper .register {
        margin: 10px 0;
    }
}